// VARIABLES --------------------------------- /

// FONTS
$font-stack-primary: 'Ubuntu', sans-serif;

// FONT WEIGHTS
$font-weight-medium: 500;
$font-weight-bold: 700; 

// MEDIA QUERIES
$break-tablet: 768px;
$break-mobile: 500px;

// MAX WIDTH:
$max-width-desktop: 1600px;


