// VARIABLES --------------------------------- /

// FONTS
$font-stack-primary: 'Ubuntu', sans-serif;

// FONT WEIGHTS
$font-weight-medium: 500;
$font-weight-bold: 700; 

// MEDIA QUERIES
$break-tablet: 768px;
$break-md-mobile: 500px;
$break-sm-mobile: 320px;

// GENERAL SPACING
$vertical-spacings: 5rem;

// MAX WIDTH:
$max-width-desktop: 1200px;
