// GALLERY --------------------------------- /
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .item {
        margin: 3rem;  
        transition: transform .2s ease, filter .2s ease-in;
        
        &:hover {
            transform: translateY(-4rem);
            filter: sepia(50%);
        } 
        
        
        img {
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.45); 
        }
        
    }
}