// SEARCH --------------------------------- /

.search {
    padding-top: $vertical-spacings;
    padding-bottom: $vertical-spacings;
    text-align: center;
    font-size: 2rem;

    &-input {
        @include for-tablet-up {
            width: 40% !important;
        }
        padding: 2.5rem 2%;
        border: 1px solid #000;
        @include for-sm-mobile-up {
            width: 100%;
        }
    }

}